<div class="row">
  <div class="col-md-6 ">
    <label>UserName: </label>
    <input class="form-control" type="text" name="username" [(ngModel)]="username">
    <br>
    <button type="button" class="btn btn-default" (click)="setUserName()" name="button">login</button>
  </div>
</div>
<h1>Socket Chat</h1>
<div *ngIf="username">
  <input vclass="form-control" type="text" name="message" [(ngModel)]="message" placeholder="enter Message" (keyup.enter)="sentMessage()">
  <br>
  <div *ngFor="let message of messages">
    <div class="well">
      <strong>{{message.username}}</strong> {{message.text}}
    </div>
  </div>
</div>
<div *ngIf="!username" class="text-center">
  <h5>please log in to chat</h5>
</div>
